<!--
  Generated template for the InvitadoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Añadir invitado</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

    <ion-item>
        <ion-label floating>Nombre</ion-label>
        <ion-input type="text" [(ngModel)]="nombre"></ion-input>
    </ion-item>

    <ion-thumbnail>
      <img [src]="imagen" *ngIf="imagen"
           class="img">

  </ion-thumbnail>

            <ion-item>
              <button ion-button block (click)="takePicture()">Agregar foto</button>
            </ion-item>

    <ion-item>
        <button ion-button block (click)="crearInvitado()" *ngIf="imagen && nombre">Registrar</button>
      </ion-item>

</ion-content>
